html {
    scroll-behavior: smooth;
}


/*cores*/

:root {
    --blue: #1482cc;
    --lightBlue: #00ffdd;
    --black: #383838;
    --white: #ffffff;
}

body {
    margin: 0px;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    background-color: var(--black);
}


/*margem*/

.total {
    width: 990px;
    margin: auto;
}

@media screen and (max-width: 1050px) {
    .total {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .total {
        width: 90%;
        margin: auto;
    }
}


/*margem*/


/*nav*/

nav {
    background-color: var(--blue);
    height: 50px;
    width: 100%;
    padding-top: 15px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 10px var(--lightBlue);
}

#spacer {
    height: 50px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--white);
    margin-right: 60px;
    transition: 0.4s;
}



nav a:hover {
    text-decoration: underline;
    color: var(--lightBlue);
    transition: 0.4s;
}


/*nav*/


/*bannerUm*/

#logo {
    display: flex;
    align-items: center;
    height: 300px;
}

#logo img {
    float: left;
}

.animacao {
    animation: anima 2s forwards;
}

.animacao-cima {
    animation: animaDois 2s forwards;
}

@keyframes anima {
    from {
        transform: translateX(-700px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes animaDois {
    from {
        transform: translateY(+200px);
    }
    to {
        transform: translateY(0px);
    }
}

.animaDois {
    animation-delay: 100ms;
}

@media screen and (max-width: 1017px) {
    #logo {
        height: 200px;
    }
    #logo img {
        width: 90%;
    }
}


/*setores azul e preto*/

.setor {
    padding: 10px 0px;
    color: var(--white);
    text-align: justify;
}

.blue {
    background-color: var(--blue);
}

.black {
    background-color: var(--black);
}


/*setores azul e preto*/


/*texto gradiente*/

.centro {
    text-align: center;
    width: fit-content;
    height: 40px;
    margin: auto;
}

.margem-baixo {
    margin-bottom: 50px;
}

.gradiente-blue {
    display: block;
    background-color: black;
    background-image: linear-gradient(45deg, #80ffee, #0070bb);
    background-size: auto;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}

.gradiente-black {
    display: block;
    background-color: black;
    background-image: linear-gradient(45deg, #9e9e9e, #ffffff);
    background-size: auto;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}


/*texto gradiente*/


/*Grade dividida*/

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    transition: 1s;
}

@media screen and (max-width: 950px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
        transition: 1s;
    }
}

@media screen and (max-width: 750px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
        transition: 1s;
    }
}

@media screen and (max-width: 520px) {
    .parent {
        grid-template-columns: repeat(1, 1fr);
        transition: 1s;
    }
}


/*Grade dividida*/


/* eventos e membros tamanho do texto */

#eventos p {
    font-size: 0.9em;
    text-align: center;
}

#membros p {
    font-size: 0.7em;
    text-align: justify;
}


/* eventos e membros tamanho do texto */


/* membros tweeks */

#membros img {
    border-radius: 50%;
}

#btn {
    font-size: 1.8rem;
    width: fit-content;
    margin: auto;
    padding: 0px 10px;
    background-color: var(--white);
    border-radius: 5px;
}

#btn a {
    color: var(--black);
    text-decoration: none;
}


/*ajustes de espaco*/

.setor {
    padding: 50px 0px;
}


/*ajustes de espaco*/


/*icones*/

#icone {
    width: 100%;
    position: fixed;
    bottom: 50px;
    text-align: center;
}

#icone a {
    text-decoration: none;
}

#icone svg {
    border-radius: 10%;
    width: 50px;
    margin: 0px 5px;
    transition: 0.5s;
}

#icone svg:hover {
    width: 70px;
    transition: 0.5s;
}


/*humburger menu*/

.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: var(--lightBlue);
    border-radius:10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--lightBlue);
    border-radius:10px;
    transition: 0.3s;
}
.hamburger::before{
    top: -10px;
    width: 30px;
    height: 4px;
}
.hamburger::after{
    top: 10px;
    width: 30px;
    height: 4px;
}
.liga{
    position: absolute;
    right: 10%;
    top: 5px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
@media screen and (max-width: 500px) {
    .liga{
        right: 5%; 
    }
}
.hamburger,
.liga{
    display:none;
}


#navegacao input:checked ~ .hamburger{
    background: transparent;
}
#navegacao input:checked ~ .hamburger::before{
    transform: rotate(45deg);
    top: 0;
}#navegacao input:checked ~ .hamburger::after{
    transform: rotate(-45deg);
    top:0;
}
@media screen and (max-width: 865px) {
    #botoes {
        background-color: var(--black);
        width: 50%;
        transition: 0.4s;
        display: block;
        position: absolute;
        right: -55%;
        top: 0px;
        height: 400px;
        border-bottom-left-radius: 20px;
        text-align: center;
        box-shadow: 0px 0px 10px var(--lightBlue);
    }
    #botoes a{
        margin-top: 40px;
        display: block;
    }
    .hamburger,
    .liga{
        display:block;
        float: right;
        margin-top: 10px;
    }
}
#navegacao input:checked ~ #botoes{
    right: 0;
}
/* fotos dos membros */
#profiles{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 500px){
    #profiles{
        width: 50%;
    }
}